.glava174_1 #elem1 {
    border: 1px solid red;
    left: 80px;
    top: 80px;
}
.glava174_1 #elem1,.glava174_1 #elem2,.glava174_1 #elem3 {
    width: 50px;
    height: 50px;
    position: absolute;
}
.glava174_1 #elem2 {
    border: 1px solid blue;
    left: 160px;
    top: 160px;
}
.glava174_1 #elem3 {
    border: 1px solid green;
    left: 240px;
    top: 240px;
}


.glava174_2{
    margin-top: 250px;
}
.glava174_2 #elem1 {
    border: 1px solid red;
    left: 30px;
}
.glava174_2 #elem2 {
    border: 1px solid blue;
    left: 100px;
}
.glava174_2 #elem3 {
    border: 1px solid green;
    left: 170px;
}
.glava174_2 #elem1,.glava174_2 #elem2,.glava174_2 #elem3 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 400px;
}


.glava174_3{
    margin-top: 170px;
}
.glava174_3 #elem1 {
    border: 1px solid red;
    left: 30px;
    top: 600px;
}
.glava174_3 #elem2 {
    border: 1px solid blue;
    left: 60px;
    top: 630px;
}
.glava174_3 #elem3 {
    border: 1px solid green;
    left: 90px;
    top: 660px;
}
.glava174_3 #elem1,.glava174_3 #elem2,.glava174_3 #elem3 {
    width: 50px;
    height: 50px;
    position: absolute;
}


.glava174_4{
    margin-top: 175px;
    margin-bottom: 200px;
}
.glava174_4 #elem1 {
    border: 1px solid red;
    left: 30px;
    top: 800px;
    background-color: red;
}
.glava174_4 #elem2 {
    border: 1px solid blue;
    left: 60px;
    top: 830px;
    background-color: blue;
}
.glava174_4 #elem3 {
    border: 1px solid green;
    left: 90px;
    top: 860px;
    background-color: green;
}
.glava174_4 #elem1,.glava174_4 #elem2,.glava174_4    #elem3 {
    width: 50px;
    height: 50px;
    position: absolute;
}
#elem11 {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #FF8888;
}
#elem22 {
    position: relative;
	top: -40px;
	left: 30px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #7E89EB;
}
#elem33{
    position: relative;
	top: -80px;
	left: 100px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #4DEE99;
}

#parent {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid rgb(115, 255, 0);
}
#child {
	position: absolute;
	top: 100px;
	left: 100px;
	
	width: 100px;
	height: 100px;
	border: 1px solid rgb(128, 0, 0);
}
#parent1 {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid rgb(115, 255, 0);
    background-color: #4DEE99;
}
#child1 {
	position: absolute;
	top: 50px;
	left: 50px;
	
    width: 100px;
    background-color: aliceblue;
    height: 100px;
	border: 1px solid rgb(128, 0, 0);
}
#child2 {
	position: absolute;
	top: 350px;
	left: 350px;
	
	border: 1px solid rgb(128, 0, 0);
    width: 100px;
    background-color: aliceblue;
    height: 100px;
}
#parent11 {
    position: relative;
    width: 200px;
    height: 430px;
    margin: 0 auto;
    border: 1px solid black;
}
#child11 {
    border: 1px solid black;
    background-color: red;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#child22 {
    background-color: yellow;
    border: 1px solid black;
    position: absolute;
    left: 50px;
    top: 160px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#child3 {
    border: 1px solid black;
    background-color: green;
    position: absolute;
    left: 50px;
    top: 270px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#parent5 {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #4DEE99;
    border-radius: 250px;
}
#fr {
    background-color: white;
    position: absolute;
    right: 100px;
    top: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#ff {
    background-color: white;
    position: absolute;
    left: 100px;
    top: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#fd {
    background-color: white;
    position: absolute;
    left: 215px;
    top: 200px;
    width: 70px;
    height: 70px;
}
#rf {
    background-color: white;
    position: absolute;
    left: 150px;
    top: 350px;
    width: 200px;
    height: 20px;
}
#elem15 {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #C4CD14;
    border-radius: 200px;
}
#elem25  {
    background-color: #fff;
    position: absolute;
    right: 80px;
    top: 70px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
 #elem35 {
    background-color: #fff;
    position: absolute;
    left: 80px;
    top: 70px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
 #elem45 {
    background-color: #fff;
    position: absolute;
    left: 165px;
    top: 200px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
#elem55 {
    background-color: #fff;
    position: absolute;
    left: 100px;
    top: 155px;
    width: 200px;
    height: 100px;
    border-radius: 0 0 100px 100px;
    margin-top: 125px;
}
.rt #parent {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid green;
}
.rt #elem1{
    position: absolute;
    left: -50px;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid red;
}
.rt #elem2{
    position: absolute;
    right: -50px;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid red;
}
#parent7 {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 50px auto;
	border: 1px solid green;
}
#child7 {
	position: absolute;
	top: 0;
	left: -50px;
	
	width: 30px;
	height: 30px;
	border: 1px solid rgb(128, 0, 0);
}
#child8 {
	position: absolute;
	top: 0;
	right: -50px;
	
	width: 30px;
	height: 30px;
	border: 1px solid rgb(128, 0, 0);
}
.g0 .pt {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid rgb(31, 144, 0);
    text-align: justify;
}
#eleem {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border: 1px solid green;
    /* Добавим цвет фона для элемента eleem */
    background-color: green; /* Например, зеленый цвет */
    color: white; /* Белый цвет текста внутри eleem */
  }
  
  #conteent {
    margin: 0 auto;
    background-color: #4DEE99;
    width: 300px;
    text-align: justify;
    font: 16px Arial;
    /* Добавим цвет текста для элемента conteent */
    color: white; /* Белый цвет текста внутри conteent */
  }
  