p {
	text-indent: 50px;
	text-align: justify;
	width: 400px;
}

p {
	text-decoration: underline;
    font-family: "Arial";
}
p {
	text-decoration: overline;
    color: red;
}

p {
	text-decoration: line-through;
    color: green;
}

a {
	text-decoration: none;
    color: red;
}