#elem {
	width: 300px;
	height: 100px;
	color: white;
	background-color: orange; /* задаем оранжевый цвет фона */
}



#qq {
	width: 100px;
	height: 100px;
	background-color: blue; /* задаем оранжевый цвет фона */
}

#qqq {
	width: 200px;
	height: 100px;
    color: white;
    text-align: center;
	background-color: green; /* задаем оранжевый цвет фона */
}

#elem1 {
	border-width: 3px;    /* толщина 3px */
	border-style: solid;  /* в виде линии */
	border-color: red;    /* красный цвет */
	width: 300px;
	height: 100px;
}

#elem2 {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 300px;
	height: 100px;
}

#elem3 {
	border-width: 5px;    /* толщина 3px */
	border-style: solid;  /* в виде линии */
	border-color: blue;    /* красный цвет */
	width: 300px;
	height: 200px;
}

#elem4 {
	border-width: 1px;
	border-style: dotted;
	border-color: black;
	width: 300px;
	height: 100px;
}

#elem5 {
	border-width: 5px;
	border-style: dotted;
	border-color: red;
	width: 200px;
	height: 200px;
}


#elem6 {
	border-width: 1px;
	border-style: dashed;
	border-color: black;
	width: 300px;
	height: 100px;
}


#elem7 {
	border-width: 3px;
	border-style: dashed;
	border-color: orange;
	width: 300px;
	height: 200px;
}


#elem8 {
	border-width: 3px;
	border-style: ridge;
	border-color: black;
	width: 300px;
	height: 100px;
}


#elem9 {
	border-width: 5px;
	border-style: double;
	border-color: black;
	width: 300px;
	height: 100px;
}


#elem10 {
	border-width: 10px;
	border-style: double;
	border-color: blue;
	width: 300px;
	height: 200px;
}

#elem {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 300px;
	height: 100px;
}

#elem {
	border: 1px solid red;
	width: 300px;
	height: 100px;
}

#elem11 {
	border: 3px solid red;
	width: 300px;
	height: 200px;
}


#elem12 {
	border: 3px dotted blue;
	width: 300px;
	height: 200px;
}

#elem13 {
	border: 3px dashed green;
	width: 300px;
	height: 200px;
}


#elem14 {
	border: 3px double orange;
	width: 300px;
	height: 200px;
}

#elem15 {
	width: 300px;
	height: 100px;
	border-left: 1px solid red;
}


#elem16 {
	width: 300px;
	height: 100px;
	border-left: 1px solid red;
	border-right: 1px solid red;
}

#elem17 {
	width: 300px;
	height: 100px;
	border-left: 1px solid red;
	border-right: 1px solid red;
}

#elem18 {
	width: 300px;
	height: 100px;
	border-left: 1px solid orange;
	border-right: 1px solid green;
    border-top: 1px solid blue;
    border-bottom: 1px solid red;
}

#elem19 {
	width: 300px;
	height: 100px;
	border-left: 1px solid red;
	border-right: 1px dotted green;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

#elem20 {
	width: 300px;
	height: 100px;
	border: 1px solid red;
	border-radius: 10px;
}


#elem21 {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px;
}

#elem22 {
	border-radius: 20px;
	width: 300px;
	height: 100px;
	background-color: #e4f1ed;
}

#elem23 {
	border-radius: 20px;
	width: 200px;
	height: 200px;
	background-color: #00f37a;
}
